.main-form {
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
}

.main-form form {
    margin: 0 auto;
    padding: 20px;
    background: #f5f5f5
}

.main-form input {
    border: none;
    border-bottom: 1px solid #e2e2e2;
}

.main-form .form-group {
    margin-bottom: 25px;
}

.main-form .btn {
    font-weight: bold;
}

.image-preview {
    display: block;
    margin: 0 auto;
    padding: 20px;
    border-radius: 7px;
    border: 1px dashed grey;
    max-width: 300px;
}

.main-form .alert {
    margin: 30px 0;
}