.main-navigation {
    margin-bottom: 30px;

}

.main-navigation .navbar-brand {
    font-family: 'Patrick Hand', serif;
    font-size: 33px !important;
}

.main-navigation .nav-item {
    margin: 0 20px;
    cursor: pointer;
}