.jumbotron {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

.jumbotron-content {
    background-color: rgba(255, 255, 255, 0.521);
    padding: 50px;
}