.jumbotron {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 50px;
}

.jumbotron-content .btn {
    margin-top: 30px;
}

.trips-container {
    align-content: center;
    text-align: center;
}

.trips-container h1 {
    margin-bottom: 10px;
    /*  text-shadow: 2px 2px white; */
}


.jumbotron-content .icon {
    margin: 0 11px;
}

.jumbotron-content header {
    background: black;
    opacity: 0.7;
    color: white !important;
    padding: 10px;
    border-radius: 20px;
}

jumbotron-content header p {
    margin-top: 10px;
}