.jumbotron {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    overflow: hidden;
}

.jumbotron-content {
    background-color: rgba(199, 199, 199, 0.329);
    background-attachment: unset;
    padding: 50px;
    text-align: center;
}

.jumbotron-content .btn {
    margin-top: 30px;
}

.trips-container {
    align-content: center;
    text-align: center;
}

.trips-container h1 {
    margin-bottom: 50px;
    text-shadow: 2px 2px white;
}

.trips-container h2 {
    text-shadow: 2px 2px white;
}

.jumbotron-content h4 {
    color: darkred;
}

.jumbotron-content nav svg {
    margin: 0 10px;
}